<html>
    <head>
      <title>Assessment 4: Shoe Store & Brand Database</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
        <h3>{{ store.getName }}:</h3>

        {% if brands is not empty %}
            <h5>Here are the brands available at this store.</h5>
            <ol>
            {% for brand in brands %}
                <p>{{ brand.getBrandName }}</p>
            {% endfor %}
            </ol>
            {% else %}
            <p>This store has no inventory.</p>
        {% endif %}
        <form action="/add_brands" method="post">
            <label for="brand_name">Select a brand</label>
            <input value="{{ store.getId }}" id="store_id" name="store_id" type="hidden">
            <select id="brand_id" name="brand_id" type="text">
                {% for brand in all_brands %}
                    <option value="{{ brand.getId }}"> {{ brand.getBrandName }} </option>
                {% endfor %}
            </select>
            <button type="submit">Add Brand</button>
        </form>

        <form action="/stores/{{ store.getId }}/edit">
            <button type="submit">Edit Store</button>
        </form>

        <form action="/stores">
            <button type="submit">Back</button>
        </form>


        <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
